// Griddle variables
// feel free to override with your own values in an earlier loaded scss file
// -----------------------------------------------------------------------------
$g-max-column-width: 4.5em !default;
$g-max-gutter-width: 2em !default;
$g-column-count: 12 !default;
$g-column-color: red !default; // fill color will be set at 0.1 opacity

$g-user-breakpoints:
  'base' 0em 1em,
  'xs' 23.5em 1em,
  's' 36em 1.5em,
  'm' 48em 2em,
  'l' 64em 3em,
  'xl' 86.5em auto,
  'xxl' 100em auto
!default;